.ion-login-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-text {
  display: block;
  width: 100%;
  text-align: center;
}